.background-header {
    background-image: url("https://vignette.wikia.nocookie.net/yugioh/images/a/a6/Duelmonstersenlogo.png/revision/latest?cb=20140606035948");
    background-repeat: no-repeat;
    height: 100px;
}