.background-header {
    background-image: url("https://vignette.wikia.nocookie.net/yugioh/images/a/a6/Duelmonstersenlogo.png/revision/latest?cb=20140606035948");
    background-repeat: no-repeat;
    height: 100px;
}

.spacing-buttons {
    margin: 5px;
    margin-top: 21px;
}

.center-create {
    margin-left: 9px;
}

.margin-start {
    margin-left: 16px;
}

.no-padding {
    padding: 0;
}

@keyframes glowing {
    0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
    50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
    100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}

.start-bg-img {
    background-image: url('https://pre00.deviantart.net/532e/th/pre/f/2008/333/6/b/yugioh_wallpaper_by_shannonrivergirl233.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.button-glow {
    animation: glowing 1500ms infinite;
}

.button-placement {
    position: absolute;
    top: 50%;
    left: 35%;
    margin-top: -50vh;
}